<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @artist.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @artist.date_end %>
</p>

<p>
  <strong>Country:</strong>
  <%= @artist.country_id %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
