  <span id="notice"><%= notice %></span>
  <div class="panel panel-default">
  	<div class="panel-heading"><h1><%= @artist.name %></h1></div>
  	<div class="panel-body">
  		
  		<p>
  			<strong>Date start:</strong>
  			<%= @artist.date_start.strftime("%Y") %>
  		</p>

  		<p>
  			<strong>Date end:</strong>
        <% if !@artist.date_end.nil? %>
  			<%= @artist.date_end.strftime("%Y") %>
        <% else %>
          <small><i>present</i></small>
        <% end %>
  		</p>

  		<p>
  			<strong>Country:</strong>
  			<%= @artist.country.name %>
  		</p>
        <p>
        <strong>Albums:</strong>
        <% @albums.each do |album| %>
        <%= album.name %>
        <%= "," unless album == @albums.last %>
        <% end %>
      </p>
  	</div>
  </div>
  
  <hr>

  <%= link_to 'Edit', edit_artist_path(@artist) , {:class => 'btn btn-default'}%> 
  <%= link_to 'Back', artists_path, {:class => 'btn btn-default'} %>
