<span id="notice"><%= notice %></span>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Listing Countries</h1></div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @countries.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td><%= link_to 'Show', country %></td>
          <td><%= link_to 'Edit', edit_country_path(country) %></td>
          <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
     <div class="text-center">
    <%= will_paginate @posts %>
    </div>
  </div>
</div>




<hr>

<%= link_to 'New Country', new_country_path , {:class => 'btn btn-default'}%>
